# Ignore virtual environment folder
venv/
media/ # Ignore media files
/media/
# Ignore SQLite database file/ Must manually remove,
# then re-create stop gitignore then git ignore again to protect the code
# db.sqlite3
